@font-face {
	font-family: 'ArcherPro Bold';
	src: url('./fonts/ArcherPro-Bold-MYZ.ttf') format('truetype');
}

@font-face {
	font-family: 'ArcherPro Book';
	src: url('./fonts/ArcherPro-Book-MYZ.ttf') format('truetype');
}

@font-face {
	font-family: 'ArcherPro Italic';
	src: url('./fonts/ArcherPro-BookItalic-MYZ.ttf') format('truetype');
}

@font-face {
	font-family: 'Big Noodle Titling';
	src: url('./fonts/big_noodle_titling.ttf') format('truetype');
}

@font-face {
	font-family: 'Futura Std Heavy';
	src: url('./fonts/FuturaStd-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Futura Std Medium';
	src: url('./fonts/FuturaStd-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Futura Std Italic';
	src: url('./fonts/FuturaStd-MediumOblique.ttf') format('truetype');
}

/* TITLES ================================================================== */
h1, .h1 {
	font-family: 'Big Noodle Titling';
	font-size: 6rem;
	/* color: rgb(139, 158, 183); */
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 0;
}

h2, .h2 {
	font-family: 'Big Noodle Titling';
	font-size: 1.5em;
	/* color: rgb(30, 30, 28); */
	text-transform: uppercase;
	text-align: left;
	padding: 24px 0 0 0;
}

h3, .h3 {
	font-family: 'ArcherPro Bold';
	font-size: 1em;
	/* color: rgb(30, 30, 28); */
	text-transform: uppercase;
	text-align: left;
	padding: 16px 0 0 0;
}

h4, .h4 {
	font-family: 'Futura Std Heavy';
	font-size: 0.8em;
	/* color: rgb(30, 30, 28); */
	text-transform: uppercase;
	text-align: left;
	padding: 0 0 8px 0;
}

/* p {
	font-family: 'ArcherPro Book';
} */